@model IEnumerable<OnlineStore.Models.OrderProduct>

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Products</h1>

<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Product Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var orderProduct in Model)
    {
        <tr>
            <td>@orderProduct.Order.Id</td>
            <td>@orderProduct.Product.Name</td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="OrderProduct" asp-action="Create">Create New Order Product</a>