@model IEnumerable<OnlineStore.Models.Address>

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Addresses</h1>

<table>
    <thead>
    <tr>
        <th>Street</th>
        <th>City</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var address in Model)
    {
        <tr>
            <td>@address.Street</td>
            <td>@address.City</td>
            <td>@address.User?.Name</td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Address" asp-action="Create">Create New Address</a>